<p class="p1"><img class="alignnone size-medium wp-image-237 aligncenter" src="http://localhost/wordpress/wp-content/uploads/2017/02/PhotoFunia-1488625905-300x200.jpg" alt="" width="300" height="200" /></p>
<p class="p1"><span class="s1">Me llamo Carolina, Caro chan para los amigos y soy diseñadora web. Estoy aquí para hacerte la vida más fácil, me gusta convertir problemas complejos en simples, bonitos e intuitivos diseños. A través de un proceso perfectamente organizado, donde el cliente no tenga más que rellenar casillas y marcar tareas como “hechas”, consigo que el doloroso proceso de diseñar y crear una página web desde cero -o darle un buen lavado de cara- sea coser y cantar.</span></p>
<p class="p1"><span class="s1">Me gusta ayudar a mujeres a encontrar su hueco en internet, que se sientan seguras y orgullosas al mostrar su escaparate al mundo y sobre todo que se dibuje una sonrisa en sus caras cada vez que entren en su página, su dominio, su reino… Y me gusta tanto porque fue algo que yo no pude tener cuando comencé en el mundo del blogging. La ausencia de una presencia femenina que entendiera mis necesidades y puntos de vista fue lo que me impulsó a formarme en esta compleja área para conseguir dar un servicio integral a través de un conjunto de estrategias y herramientas de marketing encaminadas a la creación y refuerzo de tu marca personal. Así que despreocúpate porque a partir de este punto ya me encargo yo.</span></p>
<p class="p1"><span class="s1">Ofrezco distintos tipos de paquetes para todas aquellas necesidades que puedas tener, siempre con una buena actitud, apoyo constante y toda la seriedad que tan épica tarea conlleva. Cuando empezar depende de ti.</span></p>
<p class="p1"><img class="alignnone size-medium wp-image-240 aligncenter" src="http://localhost/wordpress/wp-content/uploads/2017/02/DSC_0038-300x200.jpg" alt="" width="300" height="200" /></p>

<h2 class="p1 conocer-curiosidades"><span class="s1">¿Quieres conocer 7 curiosidades sobre mí?</span></h2>
<div class="imagen-curiosidad"><img class="alignnone size-full wp-image-258" src="http://localhost/wordpress/wp-content/uploads/2017/02/009-pansy-e1493129006894.png" alt="" width="40" height="40" />Siempre llevo flores en el pelo, muy malita tengo que estar para no hacerlo. La primavera va conmigo allá donde vaya.</div>
<div class="separador-flecha"><img class="size-full wp-image-273 aligncenter" src="http://localhost/wordpress/wp-content/uploads/2017/02/010-arrows-e1493132600354.png" alt="" width="40" height="40" /></div>
<div class="imagen-curiosidad"><img class="alignnone size-full wp-image-259" src="http://localhost/wordpress/wp-content/uploads/2017/02/001-dressing-room-makeup-e1493129063650.png" alt="" width="40" height="40" />Soy licenciada en Bellas Artes y durante varios años fui maquilladora para grandes marcas en Madrid y Londres, haciendo de las personas mi lienzo.</div>
<div class="separador-flecha"><img class="aligncenter size-full wp-image-273" src="http://localhost/wordpress/wp-content/uploads/2017/02/010-arrows-e1493132600354.png" alt="" width="40" height="40" /></div>
<div class="imagen-curiosidad"><img class="alignnone size-full wp-image-253" src="http://localhost/wordpress/wp-content/uploads/2017/02/002-zen-brush-symbol-e1493129092497.png" alt="" width="40" height="40" />Soy muy madrugadora y empiezo el día meditando.</div>
<div class="separador-flecha"><img class="alignnone size-full wp-image-273 aligncenter" src="http://localhost/wordpress/wp-content/uploads/2017/02/010-arrows-e1493132600354.png" alt="" width="40" height="40" /></div>
<div class="imagen-curiosidad"><img class="alignnone size-full wp-image-260" src="http://localhost/wordpress/wp-content/uploads/2017/02/quiz-on-computer-with-question-signs-around-e1493130017843.png" alt="" width="40" height="40" />Curiosa es poco, siempre me ha gustado saber el porqué de las cosas, de todas las cosas. ¡Es agotador!. jajaja</div>
<div class="separador-flecha"><img class="alignnone size-full wp-image-273 aligncenter" src="http://localhost/wordpress/wp-content/uploads/2017/02/010-arrows-e1493132600354.png" alt="" width="40" height="40" /></div>
<div class="imagen-curiosidad"><img class="alignnone size-full wp-image-257" src="http://localhost/wordpress/wp-content/uploads/2017/02/006-happy-e1493130045611.png" alt="" width="40" height="40" />Soy de risa fácil y a veces tengo un humor un poco negro, en UK me encontraba como pez en el agua. &gt;.&lt;U</div>
<div class="separador-flecha"><img class=" size-full wp-image-273 aligncenter" src="http://localhost/wordpress/wp-content/uploads/2017/02/010-arrows-e1493132600354.png" alt="" width="40" height="40" /></div>
<div class="imagen-curiosidad"><img class="alignnone size-full wp-image-256" src="http://localhost/wordpress/wp-content/uploads/2017/02/005-earth-globe-e1493130077967.png" alt="" width="40" height="40" />Mi centro de mandos está en Granada, aunque me gusta viajar largas temporadas a países orientales.</div>
<div class="separador-flecha"><img class="alignnone size-full wp-image-273 aligncenter" src="http://localhost/wordpress/wp-content/uploads/2017/02/010-arrows-e1493132600354.png" alt="" width="40" height="40" /></div>
<div class="imagen-curiosidad"><img class="alignnone size-full wp-image-254" src="http://localhost/wordpress/wp-content/uploads/2017/02/003-monuments-e1493130109659.png" alt="" width="40" height="40" />De los cuatro idiomas que hablo mi favorito es el japonés.</div>
<div class="separador-flecha"><img class="aligncenter size-full wp-image-273" src="http://localhost/wordpress/wp-content/uploads/2017/02/010-arrows-e1493132600354.png" alt="" width="40" height="40" /></div>
<p class="p1"><span class="s1">Espero haberte convencido ya de que te quedes conmigo, además puedes echar un vistazo a mi portafolio y a mi blog, donde doy tips y trucos para que puedas empezar desde cero a construir tu marca y tu web. ¿Ready? Yijaaaw!</span></p>