/*
	Theme Name: Parallax Pro
	Theme URI: http://my.studiopress.com/themes/parallax/
	Description: The new role of website design is to tell a story, which is what Parallax Pro was developed to do.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 1.3.2

	Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-header, custom-menu, e-commerce, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, accessibility-ready

	Template: genesis
	Template Version: 2.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php

	Text Domain: parallax-pro
*/

/* Table of Contents
	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Gallery
		- Forms
		- Buttons
		- Tables
		- Screen Reader Text
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- Avatar
		- Genesis
		- Search Form
		- Titles
		- WordPress
	- Widgets
		- Simple Social Icons
	- Plugins
		- Genesis eNews Extended
		- Jetpack
	- Skip Links
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
		- Responsive Navigation
	- Content Area
		- Homepage
		- Pricing Table
		- Content
		- Entries
		- Entry Meta
		- After Entry
		- Pagination
		- Content Boxes
		- Comments
	- Sidebar
	- Footer Widgets
	- Site Footer
	- Media Queries
		- Retina Display
		- Max-width: 1180px
		- Max-width: 1020px
		- Max-width: 860px
		- Max-width: 480px
*/

@import url('https://fonts.googleapis.com/css?family=Arizonia|Courgette|Covered+By+Your+Grace|Damion|Dancing+Script|Great+Vibes|Kaushan+Script|Niconne|Pacifico|Sacramento|Satisfy|Shadows+Into+Light+Two|Yesteryear|Zeyada');

/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v2.1.3 | MIT License | git.io/normalize */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/*TOCADO font family---------*/
@font-face {
      font-family: 'Muli', sans-serif;
      src: url("@import url('https://fonts.googleapis.com/css?family=Muli');");
    }

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	/*font-size: 2.2rem;*/
}

body {
	/*background-color: #fff;*/
	color: #000;
	font-family: 'Cormorant Garamond', serif;
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

body.parallax-home {
	background: none;
}

a,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

::selection {
	background-color: #000;
	color: #fff;
}

a {
	color: #00a0af;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #000;
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 700;
}

cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #000;
}

blockquote {
	color: #999;
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-bottom: 1px solid #000;
	clear: left;
	margin: 0 0 40px;
	padding-top: 20px;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 32px;
	font-size: 3.2rem;
}

h3 {
	font-size: 30px;
	font-size: 3rem;
}

h4 {
	font-size: 24px;
	font-size: 2.4rem;
}

h5 {
	font-size: 20px;
	font-size: 2rem;
}

h6 {
	font-size: 18px;
	font-size: 1.8rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.full-width-content img.pull-left {
	float: left;
	margin: 0 40px 40px -200px;
}

.full-width-content img.pull-right {
	float: right;
	margin: 0 -200px 40px 40px;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
	margin-bottom: 28px;
}

.gallery-item {
	float: left;
	margin: 0;
	padding: 0 4px;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery .gallery-item img {
	border: none;
	height: auto;
	margin: 0;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #000;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #000;
	opacity: 1;
	font-weight: 400;
}

::-webkit-input-placeholder {
	color: #000;
	font-weight: 400;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #000;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 20px;
	text-transform: uppercase;
	white-space: normal;
	-webkit-font-smoothing: antialiased;
}

/*button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: #00a0af;
	color: #fff;
}*/

button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small,
.button.small {
	padding: 8px 16px;
}

.button {
	display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #ddd;
	border-width: 0;
	color: #565656;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.error404 .entry-content input[type="search"],
.post-password-form input[type="password"] {
	margin-bottom: 15px;
}

/* Buttons
--------------------------------------------- */

.footer-widgets a.button,
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.home-even a.button,
.home-odd a.button {
	background: transparent;
	clear: both;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 20px;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.footer-widgets a.button,
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.home-odd a.button {
	border: 2px solid #fff;
	color: #fff !important;
}

.footer-widgets a.button:hover,
.footer-widgets a.button:focus,
.home-odd a.button:hover,
.home-odd a.button:focus {
	background-color: #fff;
	color: #000 !important;
}

.footer-widgets button:focus,
.footer-widgets button:hover,
.footer-widgets input[type="button"]:focus,
.footer-widgets input[type="button"]:hover,
.footer-widgets input[type="reset"]:focus,
.footer-widgets input[type="reset"]:hover,
.footer-widgets input[type="submit"]:focus,
.footer-widgets input[type="submit"]:hover {
	background-color: #fff !important;
	color: #000 !important;
}

.home-even a.button {
	border: 2px solid #000;
	color: #000;
}

.home-even a.button:hover,
.home-even a.button:focus {
	background-color: #000;
	color: #fff;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 700;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
	background: #fff;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}


/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-inner {
	clear: both;
	margin-top: 170px;
}

.parallax-home .site-inner {
	margin-top: 66px;
	max-width: 100%;
}

.parallax-landing .site-inner {
	margin-top: 100px;
}

/* Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 20px 24px 0;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	border-bottom: 2px solid #f5f5f5;
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 60px;
	padding-bottom: 10px;
}

.archive-description,
.author-box {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 100px;
	padding: 40px 0;
}

.archive-title + p {
	margin-top: 20px;
}

.author-box-title {
	font-size: 22px;
	font-size: 2.2rem;
	margin-bottom: 8px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
	position: relative;
}

.site-header .search-form {
	float: right;
	margin-top: 4px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.error404 .content .search-form {
	margin-bottom: 40px;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.widget_search input[type="submit"]:focus {
	border-left: 1px solid #ddd;
	padding: 18px 16px;
	right: 2px;
	top: 2px;
}

/* Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 0;
}

.entry-title {
	font-size: 48px;
	/*font-size: 4.8rem;*/
}

.sidebar .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
	text-align: left;
}

.entry-title a {
	color: #000;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #00a0af;
}

.widget-title {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 20px;
}

.footer-widgets .widget-title,
.sidebar .widget-title {
	font-weight: 500;
}

.footer-widgets .widget-title {
	color: #fff;
	font-size: 48px;
	font-size: 4.8rem;
}

.home-even .widget-title,
.home-odd .widget-title {
	font-size: 60px;
	font-size: 6rem;
	margin-bottom: 40px;
}

.home-section-1 .widget-title {
	font-size: 72px;
	font-size: 7.2rem;
}

/* WordPress
--------------------------------------------- */

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

a.alignnone {
	display: inline-block;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.2;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 10px;
}

.sticky {
}

.wp-audio-shortcode,
.wp-playlist,
.wp-video {
	margin: 0 0 28px;
}


/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Simple Social Icons
--------------------------------------------- */

.parallax-home .content .simple-social-icons {
	margin-top: 40px;
}

.parallax-home .content .simple-social-icons ul li {
	margin: 0 10px !important;
}

.parallax-home .content .simple-social-icons ul li a,
.parallax-home .content .simple-social-icons ul li a:hover {
	padding: 20px;
}


/* Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
	margin-bottom: 20px;
}

.footer-widgets .enews-widget input:hover[type="submit"] {
	background-color: #fff;
	color: #000;
}

.enews form + p {
	margin-top: 24px;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #000;
	outline: #ccc solid 1px;
}


/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #000;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.admin-bar .site-header {
	top: 32px;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 24px 0;
	width: 360px;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: #fff !important;
}

.header-image .title-area {
	padding: 0;
}

.header-image .site-title > a {
	background-size: contain !important;
	display: block;
	height: 70px;
	text-indent: -9999px;
	max-width: 360px;
}

.site-description {
	/*display: block;
	height: 0;*/
	margin-bottom: 0;
	/*text-indent: -9999px;*/
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 740px;
}

.site-header .widget-area,
.site-header .widget-area a,
.site-header .widget-area h4 {
	color: #fff;
}

.site-header .widget-area a:focus,
.site-header .widget-area a:hover {
	color: #00a0af;
}

.site-header .textwidget {
	margin-top: 27px;
}


/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #fff;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu li li {
	margin-left: 0;
}

.genesis-nav-menu a {
	color: #fff;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 27px 10px;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu a:focus,
.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #00a0af;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	letter-spacing: 0;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 180px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	padding: 20px;
	position: relative;
	width: 180px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -56px 0 0 179px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

/* Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	background-color: #000;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	margin-bottom: 60px;
	margin-top: -100px;
	padding-top: 100px;
	text-align: center;
}

.nav-primary .wrap {
	background-color: #000;
}

.nav-primary .sub-menu {
	background-color: #000;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary .genesis-nav-menu {
	padding: 20px 0;
}

.nav-secondary a {
	margin: 0 20px;
	padding: 0;
}

/* Responsive Navigation
--------------------------------------------- */

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}


/* Content Area
---------------------------------------------------------------------------------------------------- */

/* Homepage
--------------------------------------------- */

.home-even,
.home-odd {
	clear: both;
	font-size: 26px;
	font-size: 2.6rem;
	overflow: hidden;
	text-align: center;
}

.home-even {
	padding: 140px 0 150px;
}

.home-odd {
	padding: 190px 0 200px;
}

.home-even .wrap,
.home-odd .wrap {
	max-width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}

.home-even .widget,
.home-odd .widget {
	margin-bottom: 40px;
}

.home-even p:last-child,
.home-even .widget:last-child,
.home-odd p:last-child,
.home-odd .widget:last-child {
	margin-bottom: 0;
}

.home-odd,
.home-odd a:hover,
.home-odd a:focus,
.home-odd h1,
.home-odd h2,
.home-odd h3,
.home-odd h4,
.home-odd h5,
.home-odd h6,
.home-odd .featured-content .entry-title a,
.home-odd .widget-title {
	color: #fff;
}

.home-odd .featured-content .entry-title a:focus,
.home-odd .featured-content .entry-title a:hover {
	color: #00a0af;
}

.home-even p:last-child,
.home-odd p:last-child {
	margin-bottom: 0;
}

.home-even {
	background-color: #fff;
}

.home-section-1,
.home-section-3,
.home-section-5 {
	background-attachment: fixed;
	background-color: #000;
	background-position: 50% 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	background-size:         cover;
}

.home-section-1 {
	display: table;
	/*height: calc(100vh - 66px);*/
	overflow: hidden;
	padding: 100px 0;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}

.home-section-1 .full-height {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

/* Pricing Table
--------------------------------------------- */

.pricing-table {
	line-height: 1;
}

.pricing-table h4 {
	border-bottom: 2px solid #000;
	color: #000;
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 500;
	margin: -40px -40px 40px;
	padding: 40px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

.pricing-table .one-third {
	background-color: #fff;
	border: 2px solid #000;
	margin: 20px -2px;
	padding: 40px;
	width: 33.33%;
}

.pricing-table .one-third:nth-child(3n+1) {
	margin: 20px 0;
}

.pricing-table .one-third:nth-child(3n+2) {
	margin-bottom: 0;
	margin-top: 0;
}

.pricing-table .one-third:nth-child(3n) {
	margin: 20px 0;
}

.pricing-table ul li::before {
	content: "\f139";
	display: inline-block;
	font: normal 20px/1 'dashicons';
	margin-right: 5px;
	margin-top: -2px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}

.pricing-table ul li {
	border-bottom: 1px dotted #ddd;
	color: #000;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.pricing-table a.button {
	/*background-color: #000;
	border: 3px solid #000;
	color: #fff;*/
}

.pricing-table a.button:focus,
.pricing-table a.button:hover {
	/*background-color: #00a0af;
	border: 3px solid #00a0af;
	color: #fff !important;*/
}

/* Content
--------------------------------------------- */

.content {
	float: left;
	width: 700px;
}

.page .content {
	padding-bottom: 50px;
}

.sidebar-content .content {
	float: right;
}

.full-width-content .content {
	/*padding: 0 200px 50px;*/
	width: 100%;
}

.full-width-content.parallax-home .content {
	margin-top: 0;
	padding: 0;
}

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 100px;
}

.sidebar .entry {
	margin-bottom: 40px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 30px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #000;
	color: #ddd;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 0;
}

.entry-header {
	text-align: center;
}

.entry-header::after {
	border-bottom: 1px solid #000;
	content: "";
	display: block;
	margin: 0 auto 60px;
	padding-bottom: 30px;
	width: 10%;
}

.footer-widgets .entry-header::after,
.sidebar .entry-header::after {
	display: none;
}

.entry-categories::before,
.entry-tags::before {
	display: inline-block;
	font: normal 20px/1 'dashicons';
	margin-right: 5px;
	margin-top: 2px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}

.entry-categories::before {
	content: "\f318";
}

.entry-tags::before {
	content: "\f323";
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	border-top: 1px solid #000;
	padding: 40px 0;
}

.after-entry .widget {
	margin-bottom: 40px;
}

.after-entry p:last-child,
.after-entry .widget:last-child {
	margin: 0;
}

.after-entry li {
	list-style-type: none;
}

/* Pagination
--------------------------------------------- */

.pagination {
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #000;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 1px;
	padding: 8px 12px;
	text-transform: uppercase;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #00a0af;
	color: #fff;
}

/* Content Boxes
--------------------------------------------- */

.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
	margin-bottom: 30px;
	overflow: hidden;
	padding: 30px;
}

.content-box-blue {
	background-color: #d8ecf7;
	border: 1px solid #afcde3;
}

.content-box-gray {
	background-color: #e2e2e2;
	border: 1px solid #bdbdbd;
}

.content-box-green {
	background-color: #d9edc2;
	border: 1px solid #b2ce96;
}

.content-box-purple {
	background-color: #e2e2f9;
	border: 1px solid #bebde9;
}

.content-box-red {
	background-color: #f9dbdb;
	border: 1px solid #e9b3b3;
}

.content-box-yellow {
	background-color: #fef5c4;
	border: 1px solid #fadf98;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 100px;
}

p.comment-meta,
.entry-comments .comment,
.entry-comments .comment-reply {
	margin-bottom: 40px;
}

/*.comment-header {
	font-size: 20px;
	font-size: 2rem;
}*/

.entry-comments .comment {
	border-bottom: 1px solid #000;
}

.comment-content,
.entry-comments .comment {
	clear: both;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
	margin: 0;
}

.entry-comments .children .comment {
	border: none;
}

.comment-respond label {
	display: block;
	font-weight: 700;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 100%;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.entry-comments ul.children {
	margin-left: 40px;
}

.form-allowed-tags,
.ping-list .reply {
	display: none;
}


/* Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar {
	float: left;
}

.sidebar p:last-child {
	margin-bottom: 0;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	margin-bottom: 40px;
}


/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #00a0af;
	clear: both;
	font-size: 24px;
	font-size: 2.4rem;
	padding: 100px 0;
	text-align: center;
}

.footer-widgets,
.footer-widgets a,
.footer-widgets a:focus,
.footer-widgets a:hover {
	color: #fff !important;
	text-decoration: none;
}

.footer-widgets a {
	text-decoration: underline;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}


/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #000;
	padding: 40px 0;
	text-align: center;
}

.site-footer,
.site-footer a,
.site-footer p {
	color: #fff;
}

.site-footer a:hover,
.site-footer a:focus {
	color: #00a0af;
}

.site-footer p {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 0;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1180px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.site-header .widget-area {
		width: 560px;
	}

	.home-section-1,
	.home-section-3,
	.home-section-5 {
		background-attachment: scroll;
		background-position: top;
		-webkit-background-size: auto;
		-moz-background-size:    auto;
		background-size:         auto;
	}

	.content {
		width: 520px;
	}

	.full-width-content .content {
		/*padding: 0 110px;*/
	}

}

@media only screen and (max-width: 1020px) {

	.site-inner,
	.wrap {
		max-width: 768px;
	}

	.parallax-home .site-inner {
		max-width: none;
	}

	.site-header {
		padding-bottom: 10px;
		position: static;
	}

	.content,
	.sidebar,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

/*	.genesis-nav-menu,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}*/

	.header-image .site-title > a {
		background-position: center !important;
		margin: 0 auto 10px;
	}

	.genesis-nav-menu a {
		padding: 10px;
	}

	.parallax-home .site-inner {
		margin-top: 0;
	}

	.site-inner {
		margin-top: 80px;
	}

	.full-width-content .content {
		/*padding: 0;*/
	}

	.full-width-content img.pull-left {
		margin-left: 0;
	}

	.full-width-content img.pull-right {
		margin-right: 0;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.pricing-table .one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.pricing-table .one-third:nth-child(3n+1) {
		border-right: 2px solid #000;
	}

	.pricing-table .one-third:nth-child(3n+2) {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.pricing-table .one-third:nth-child(3n) {
		border-left: 2px solid #000;
	}

}

@media only screen and (max-width: 860px) {

	.site-inner,
	.wrap {
		max-width: none;
		width: 100%;
	}

	.site-inner,
	.wrap {
		padding: 0 5%;
	}

	.parallax-home .site-inner {
		padding: 0;
	}

	.nav-primary-active .content {
		margin-top: 20px;
	}

	/*nav.genesis-responsive-menu  {
		display: none;
		position: relative;
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	.site-header nav .wrap {
		padding: 0;
	}

	.menu-toggle,
	.sub-menu-toggle {
		background-color: transparent;
		border-width: 0;
		color: #fff;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.site-inner .menu-toggle,
	.site-inner .menu-toggle:focus,
	.site-inner .menu-toggle:hover {
		background-color: #000;
	}

	.menu-toggle:hover,
	.menu-toggle:focus,
	.sub-menu-toggle:hover,
	.sub-menu-toggle:focus {
		background: transparent;
		border-width: 0;
		color: #00a0af;
	}

	.menu-toggle:focus,
	.sub-menu-toggle:focus {
		outline-color: #fff;
		outline-style: dotted;
	}

	.menu-toggle {
		line-height: 20px;
		position: relative;
		right: 0;
		z-index: 1000;
		width: 100%;
	}

	.menu-toggle:before {
		margin-right: 10px;
		text-rendering: auto;
		-webkit-transform: translate(0, 0);
		-ms-transform:     translate(0, 0);
		transform:         translate(0, 0);
	}

	.sub-menu-toggle {
		float: right;
		padding: 7px 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu-toggle::before {
		-webkit-transform: rotate(0, 0);
		-ms-transform:     rotate(0, 0);
		transform:         rotate(0, 0);
		-webkit-transition: transform .25s ease-in-out;
		-ms-transition:     transform .25s ease-in-out;
		transition:         transform .25s ease-in-out;
	}

	.sub-menu-toggle.activated::before {
		-webkit-transform: rotate(180deg);
		-ms-transform:     rotate(180deg);
		transform:         rotate(180deg);
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		position: relative;
		text-align: left;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a,
	.genesis-responsive-menu .genesis-nav-menu .menu-item a:focus {
		outline-color: #fff;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		border: none;
		padding: 12px;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		border: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a:after {
		content: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}
*/
	.home-even,
	.home-odd {
		padding: 90px 0 100px;
	}

	.parallax-home .simple-social-icons ul li {
		margin: 0 20px 20px !important;
	}

}

@media only screen and (max-width: 480px) {

	.footer-widgets .widget-title,
	.home-even .widget-title,
	.home-odd .widget-title {
		font-size: 36px;
		font-size: 3.6rem;
	}

	.home-even,
	.home-odd {
		font-size: 22px;
		font-size: 2.2rem;
	}

}

/*------------------------------*/

/*Modificado por mi*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 1.2rem;
  padding: 0;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}
html {
  font-size: 1em;
}
body {
  font-size: 1.2em;
  line-height: 1.5em;
}
@media (min-width: 25em) { /* 400px */
  body {
    font-size: calc(1rem + (1.6 - 1) * (100vw - 25rem) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  body {
    font-size: 1.6rem;
  }

}
h1,
.entry-title {
  font-size: 2.5rem;
}
@media (min-width: 25em) { /* 400px */
  h1,
  .entry-title {
    font-size: calc(2.5rem + (4 - 2.5) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  h1,
  .entry-title {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.6rem;
}
@media (min-width: 25em) { /* 400px */
  h2 {
    font-size: calc(1.6rem + (2 - 1.6) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.4rem;
}
@media (min-width: 25em) { /* 400px */
  h3 {
    font-size: calc(1.4rem + (1.9 - 1.4) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  h3 {
    font-size: 1.9rem;
  }
}
/*----------------*/
body {
  color: dimgrey;
  font-family: 'Muli', sans-serif;
}

.site-inner {
  background: white;
}


/*home page----------*/
.parallax-home .site-inner {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.parallax-landing .site-inner {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}
.home-section-1,
.home-section-3,
.home-section-5,
.home-section-2,
.home-section-4 {
	background-color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
@media (min-width: 25em) { /* 400px */
  .home-section-1,
	.home-section-3,
	.home-section-5,
	.home-section-2,
  .home-section-4 {
    padding-top : calc(0.5rem + (4 - 0.5) * (100vw - 25rem) / (100 - 25));
    padding-bottom : calc(0.5rem + (4 - 0.5) * (100vw - 25rem) / (100 - 25));
    
  }
}
@media (min-width: 100em) { /* 1600px */
  .home-section-1,
	.home-section-3,
	.home-section-5,
	.home-section-2,
  .home-section-4 {
    padding-top: 4rem;
		padding-bottom: 4rem;
   
  }
}

.home-section-1 {
	color: #8B7642;
	background-color: white;
	padding-bottom: 25rem;
	background-position: 100% 100% !important;
	background-size: 100vw !important;
}
@media (min-width: 25em) { /* 400px */
  .home-section-1 {
    /*padding-bottom: calc(30rem + (0 - 30) * (100vw - 25rem) / (100 - 25));*/
  	/*background-position: 80% 170%;*/
  	/*background-size: calc(25rem + (25 - 25) * (100vw - 25rem) / (100 - 25)) !important;*/
  	background-size: 25rem !important;
  	/*background-position-y: calc(25rem + (2 - 25) * (100vw - 25rem) / (68.75 - 25)) !important;*/
  	padding-bottom: calc(25rem + (3 - 25) * (100vw - 25rem) / (68.75 - 25));
  }
}
@media (min-width: 68.75em) { /* 1100px */
  .home-section-1 {
    /*padding-bottom: calc(30rem + (0 - 30) * (100vw - 25rem) / (100 - 25));*/
  	background-position: 100% 2rem !important;
  	background-size: calc(25rem + (40 - 25) * (100vw - 68.75rem) / (100 - 68.75)) !important;
  	padding-bottom: 3rem;
  }
}
@media (min-width: 73.76em) { /* 1080px */
  .home-section-1 {
  	background-position-y: 12rem !important;
  	
  }
}
@media (min-width: 100em) { /* 1600px */
  .home-section-1 {
    /*padding-bottom: 0;*/
   	background-position: 100% 0;
   	background-size: 40rem !important;
  }
}
.home-section-1 .wrap {
	margin-left: 0;
	margin-right: 0;
}



.home-section-1 div.liarla a {
color: #8B7642;
align-self: center;

}
.home-section-1 div.liarla a:focus,
 .home-section-1 div.liarla a:hover {
 color: #188DB1;
}
.home-section-1 div.liarla {
display: flex;
justify-content: center;
text-align: center;
vertical-align: bottom;
color: #8B7642;
background: #F6CECC;
border: 4px solid #EBDFBF;
background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center;
 -webkit-background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center;
 -moz-background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center;
 -o-background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-clip: border-box;
 color: #8B7642;
 border: none;
 width: 10rem;
 height: 6rem;
 margin: auto;
 margin-top: 3rem;
 font-family: 'Muli', sans-serif;
 font-size: 1.2rem;
 padding: 0;
}
.home-section-1 div.liarla:focus,
.home-section-1 div.liarla:hover {
background: #D7E8E8;
border: 4px solid #EBDFBF;
color: #8B7642;
 background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center;
 -webkit-background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center; 
  -moz-background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center;
 -o-background: url("/wp-content/uploads/2017/06/water-2.png")no-repeat center;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-clip: border-box;
 color: #188DB1;
 border: none;
}
@media (min-width: 25em) { /* 400px */

.home-section-1 div.liarla {
  font-size: calc(1.2rem + (2 - 1.2) * (100vw - 25rem) / (100 - 25));
 	width: calc(6.5rem + (13 - 6.5) * (100vw - 25rem) / (100 - 25));
 	height: calc(4rem + (8 - 4) * (100vw - 25rem) / (100 - 25));
 	padding: calc(0rem + (2 - 0) * (100vw - 25rem) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
 .home-section-1 div.liarla {
   font-size: 2rem;
   width: 13rem;
   height: 8rem;
   padding: 2rem;
  }
}
.home-section-1 .full-height {
  vertical-align: top;
  padding-top: 2rem;
  margin: auto;
}

.motto-mujeres {
	/*padding-top: 0.6rem;*/
	font-family: 'Pacifico', cursive;
	/*font-weight: bolder;*/
}

section#text-19 { /*moto-mujeres*/
	width: 20rem;
	padding-left: 1rem;
	padding-top: 0;
	/*margin: auto;*/
}
@media (min-width: 25em) { /* 400px */
  section#text-19 {
    width: calc(20rem + (56 - 20) * (100vw - 25rem) / (100 - 25));
    padding-left: calc(1rem + (4 - 1) * (100vw - 25rem) / (100 - 25));
		padding-top: calc(0rem + (5 - 0) * (100vw - 25rem) / (100 - 25));
  }
}
@media (min-width: 45em) { /* 720px */
  section#text-19 {
  	/*margin-left: 0;*/
  }
}
@media (min-width: 100em) { /* 1600px */
  section#text-19 {
    width: 56rem;
    padding-left: 4rem;
		padding-top: 5rem;
  }

}
/*section 2*/
#mc_embed_signup input:focus {
	border: none;
}
#mc_embed_signup .button {
	width: 10rem !important;
  height: 4rem !important;
}
@media (min-width: 25em) { /* 400px */

#mc_embed_signup .button {
	width: calc(10rem + (20 - 10) * (100vw - 25rem) / (100 - 25)) !important;
 }
}
@media (min-width: 100em) { /* 1600px */
 #mc_embed_signup .button {
	width: 20rem !important;
 }
  
}

#mc_embed_signup .mc-field-group input {
	font-size: 1rem !important;
}
@media (min-width: 25em) { /* 400px */
 #mc_embed_signup .mc-field-group input {
	font-size: calc(1rem + (2 - 1) * (100vw - 25rem) / (100 - 25)) !important;
 }
}
@media (min-width: 100em) { /* 1600px */
 #mc_embed_signup .mc-field-group input {
	font-size: 2rem !important;
 }
} 
 
/*section 4*/
.home-section-4 section#text-20 {
	margin-bottom: 0;

}
.home-section-5 div.textwidget,
.text-25,
.text-24 {
	/*font-size: 1.2rem;*/
	color: #8B7642;
}
@media (min-width: 25em) { /* 400px */
  .home-section-5 div.textwidget,
  .text-25,
  .text-24  {
    /*font-size: calc(1.2rem + (2 - 1.2) * (100vw - 25rem) / (100 - 25));*/
  }
}
@media (min-width: 100em) { /* 1600px */
  .home-section-5 div.textwidget,
  .text-25,
  .text-24  {
    /*font-size: 2rem;*/
  }

}
.home-section-5 .widget-wrap ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.home-odd {
  font-size: 1.2em;
}
@media (min-width: 25em) { /* 400px */
  .home-odd {
    font-size: calc(1.2rem + (2.2 - 1.2) * (100vw - 25rem) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  .home-odd {
    font-size: 2.2rem;
  }

}
.home-even {
  font-size: 1.2em;
}
@media (min-width: 25em) { /* 400px */
  .home-even {
    font-size: calc(1.2rem + (1.6 - 1.2) * (100vw - 25rem) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  .home-even {
    font-size: 1.6rem;
  }

}
.home-section-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: left;
} 
@media (min-width: 25em) { /* 400px */
  .home-section-2 {
    padding-top: calc(2rem + (3 - 2) * (100vw - 25rem) / (100 - 25));
    padding-bottom: calc(2rem + (5 - 2) * (100vw - 25rem) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  .home-section-2 {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

}

.home-section-2 h2 {
	font-weight: bolder;
}

#text-23 {
	margin-bottom: 0;
}
div.oportunidad  {
	color: dimgrey;
}
/*home3----------*/
.epico {
	margin-top: 1rem;
	margin-bottom: 2rem;
	color: #8B7642;
}
.epico span {
	font-family: 'Pacifico', cursive;
}
@media (max-width: 37.5em) {
	.home-section-3 {
		padding-bottom: 0;
	}
}
/*Tabla de servcios----------*/
.pricing-table .titulo-servicios{
	color: #8B7642;
}

.pricing-table h4 {
	border-bottom: 2px solid #ECD4A0;
	color: #8B7642;
	background-color: #D7E8E8;

}


.pricing-table .one-third {
	border: 2px solid #ECD4A0;
}

.pricing-table ul li::before {
	content: "꙳";
	color: #EC7781;
}

.pricing-table ul li {
	border-bottom: 1px dotted #ddd;
	color: dimgrey;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.pricing-table a.button {
	color: #8B7642;
	background-color: #F6CECC;
	border: 4px solid #EBDFBF;
}

.pricing-table a.button.boton-servicios:focus,
.pricing-table a.button.boton-servicios:hover {
	background-color: #D7E8E8;
	/*color: #8B7642;*/
	border: 4px solid #EBDFBF;
	color: #8B7642 !important;
}
.pricing-table .one-third:nth-child(3n+1) {
		border-right: 2px solid #ECD4A0;
	}

.pricing-table .one-third:nth-child(3n) {
		border-left: 2px solid #ECD4A0;
	}
	/*home 5-----------*/
.home-section-5 {
	text-align: left;
}
.home-section-5  h3 {
		color: #8B7642;
	}
.home-section-5 span {
	font-family: 'Pacifico', cursive;
}
#text-25 {
	margin-bottom: 0;
}

/*Title area------------*/
.site-description {
	font-family: 'Quicksand', sans-serif;
	color: #BB9646;
	align-self: center;
}
.title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  
  font-family: 'Cormorant Garamond', serif;
}
.entry-title {
	color: #BB9646;
}
.entry-title a {
	color:  #BB9646;
}
.title-area p {
  font-size: 1.3rem;
}
@media (min-width: 25em) { /* 400px */
  .title-area p {
    font-size: calc(1.3rem + (1.6 - 1.3) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .title-area p {
    font-size: 1.6rem;
  }
}

.site-header {
  background-color: #D7E8E8;
  border-bottom: 4px solid #EBDFBF; 
  padding-top: 1rem; 
  padding-bottom: 1rem;
  position: static;
}

.site-header>.wrap { /*CREADO POR MI*/
  display: flex;
  align-items: center;
}
/*Widget area----------------*/
.site-header .widget-area,
.site-header .widget-area a,
.site-header .widget-area h4 {
  color: #BB9646;
}
/*Contenido-------------*/
.full-width-content .content {
	padding: 0.2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
@media (min-width: 25em) { /* 400px */
  .full-width-content .content  {
    padding: calc(0.2rem + (12 - 0.2) * (100vw - 25rem) / (100 - 25));
    padding-top: calc(0.5rem + (3 - 0.5) * (100vw - 25rem) / (100 - 25));
    padding-bottom: calc(0.5rem + (3 - 0.5) * (100vw - 25rem) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  .full-width-content .content  {
    padding: 12rem;
    padding-top: 3rem;
		padding-bottom: 3rem;
  }
}

.content article {
	margin-bottom: 1rem;
}
@media (min-width: 25em) { /* 400px */
 
  .content article {
    margin-bottom: calc(1rem + (3 - 1) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .content article {
    margin-bottom: 3rem;
  }
}

/*SOBRE MI ESTILO DEL CONTENIDO DE LA PAGINA*/
/*imagen sobre mi redonda HAY QUE CAMBIAR EL NUMERO SEGÚN CAMBIE LA FOTO--------*/
.wp-image-273 {
	margin-bottom: 0;
}
.separador-flecha p {
	margin-bottom: 0;
}
/*imagen alineada a contenido-----------*/
div.imagen-curiosidad {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
div.imagen-curiosidad img {
 align-self: flex-start;
 margin-right: 1rem;
}
/*color del h2*/
h2.conocer-curiosidades {
	color: #8B7642;
	font-weight: 500;
	text-align: center;
}

/*Site navigation----------------*/
#menu-carochin-top-menu a {
	font-size: 1.1rem;
}
@media (min-width: 25em) { /* 400px */
 
  #menu-carochin-top-menu a {
    font-size: calc(1.1rem + (1.2 - 1.1) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  #menu-carochin-top-menu a {
    font-size: 1.2rem;
  }
}
/*Footer ---------------------*/
.site-footer {
	background-color: #F6CECC;
	padding: 0;
}
.social-footer {
	width: 100%;
	max-width: 20rem;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	padding: 1rem;
	padding-bottom: 0;
}
p.copy-footer {
  font-size: 1rem;
  color: #8B7642;
}
@media (min-width: 25em) { /* 400px */
  p.copy-footer {
    font-size: calc(1rem + (1.2 - 1) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  p.copy-footer {
    font-size: 1.2rem;
  }
}
.site-footer .wrap {
	margin: 0;
	margin: auto;
	padding: 0;
}
/*After footer-------------*/
.cookies-legal {
	width: 100%;
	height: 30px;
	background-color: #F6CECC;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}
.cookies-legal p {
	font-size: 0.6rem;
	margin-right: 1rem;
}
@media (min-width: 25em) { /* 400px */
  .cookies-legal p {
	  margin-right: calc(0.8rem + (1 - 0.8) * (100vw - 25rem) / (100 - 25));
    font-size: calc(0.6rem + (0.8 - 0.6) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .cookies-legal p {
  	font-size: 0.8rem;
	  margin-right: 1rem;
    
  }
}
/*Entry meta---------------*/
.entry-comments-link::before {
    content: " π ";
    color: #BB9646;
}
p.entry-meta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.2rem;
}
@media (min-width: 25em) { /* 400px */
  p.entry-meta  {
    font-size: calc(1.2rem + (1.8 - 1.2) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  p.entry-meta {
    font-size: 1.8rem;
  }
}

.entry-time {
	padding-right: 1rem;
	padding-bottom: 1rem;
	color: #BB984A;
}
.entry-header::after {
	border-bottom: 1px dotted #aaa;
	content: "";
	display: block;
	margin: 0 auto 30px;
	padding-bottom: 10px;
	padding-top: 5px;
	width: 20rem;
}
@media (min-width: 25em) { /* 400px */
  .entry-header::after  {
    width: calc(20rem + (50 - 20) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .entry-header::after  {
    width: 50rem;
  }
}
/*Separador de corazón----------*/
.separador {
	width: 100%;
	margin: auto;
	text-align: center;
}
.separador img {
	width: 2rem;
	height: 2rem;

}

/*Comentarios--------------*/
.entry-comments h3 {
	color: #8B7642;
	font-weight: 500;
}
.comment-respond label.logged-in-as {
	display: none;
}
.comment-reply-title {
	color: #8B7642;
	font-weight: 500;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #F6CECC;
	color: #8B7642;
	border: 4px solid #EBDFBF; 
}
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: #D7E8E8;
	color: #8B7642;
}

.comment-edit-link {
	display: none;
}
.comment-author span {
	color: #8B7642;
}
.comment-author span:last-child {
	color: dimgrey;
}
.commment-header,
.comment-respond,
.comment-list {
	font-size: 1rem;
}
@media (min-width: 25em) { /* 400px */
 	.commment-header,
 	.comment-respond,
 	.comment-list {
    font-size: calc(1rem + (1.6 - 1) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
		.commment-header,
		.commment-respond,
		.comment-list {
    font-size: 1.6rem;
  }
}
.comment-form p {
	color: #8B7642;
}
.comment-form-comment label:first-child {
	display: none;
}
.comment-form p.comment-notes {
	color: #BB9646;
}
.comment-notes,
.comment-meta time a {
	color: #BB9646;
	font-size: 0.8rem;
}
@media (min-width: 25em) { /* 400px */
  .comment-meta time a,
  .comment-notes {
    font-size: calc(0.8rem + (1.2 - 0.8) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .comment-meta time a,
  .comment-notes {
    font-size: 1.2rem;
  }
}
.comment-form-comment textarea,
.comment-respond input {
	color: dimgrey;
	font-size: 1rem;
}
@media (min-width: 25em) { /* 400px */
  .comment-form-comment textarea,
  .comment-respond input {
    font-size: calc(1rem + (1.4 - 1) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .comment-form-comment textarea,
  .comment-respond input {
    font-size: 1.4rem;
  }
}
.entry-comments .comment {
	
	border-bottom: 1px dotted grey;
}
.entry-comments,
.comment-respond {
	outline: none;
	border: none;
	border-left-color: white;
	box-shadow: none;
	color: dimgrey;
}
/*Post--------------*/
.post-edit-link {
	display: none;
}
.wp-show-posts-single a.wp-show-posts-read-more, .wp-show-posts-single a.wp-show-posts-read-more:visited {
	border: none !important;
	outline: none;
}

/*servicios-------------*/
.respira-container p {
	padding: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: auto;
	
}
.elementor-element a.elementor-button {
	color: #8B7642;
	background-color: #F6CECC;
	border: 4px solid #EBDFBF; 
}
 .elementor-element a.elementor-button:hover {
	background-color: #D7E8E8;
	color: #8B7642;
	border: 4px solid #EBDFBF; 
}

/*Formulario contacto-----------*/
.nf-field-element,
#mc_embed_signup {
	text-align: center;
}
input#nf-field-7 {
	color: #8B7642;
}
#submit:focus,
#submit:hover,
#nf-field-4:focus,
#nf-field-4:hover,
#nf-field-7:focus,
#nf-field-7:hover {
	background-color: #D7E8E8;
	color: #8B7642;
	border: 4px solid #EBDFBF; 
}
.nf-form-fields-required {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	color: grey;
}
.nf-form-content input,
.nf-form-content textarea {
	color: dimgrey;
	font-size: 1rem;
}
@media (min-width: 25em) { /* 400px */
  .nf-form-content input,
  .nf-form-content textarea {
    font-size: calc(1rem + (1.4 - 1) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .nf-form-content input,
  .nf-form-content textarea {
    font-size: 1.4rem;
  }
}
span.ninja-forms-req-symbol, 
.nf-error-msg,
.nf-error-msg.nf-error-invalid-email,
.nf-error-msg.nf-error-required-error,
.nf-error-msg.nf-error-field-errors {
	color: #E67179;
}
.nf-form-title h3,
#text-26 h3.widgettitle  {
	color: #8B7642;
	font-weight: 500;
}
.nf-field-label,
#text-26 h3.widgettitle  {
	font-size: 1.5rem;
	font-family: 'Muli', sans-serif;
}
@media (min-width: 25em) { /* 400px */
  .nf-field-label,
  #text-26 h3.widgettitle  {
    font-size: calc(1.5rem + (1.9 - 1.5) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
   .nf-field-label,
   #text-26 h3.widgettitle  {
    font-size: 1.9rem;
  }
}
select#nf-field-24,
select#nf-field-16,
select#nf-field-17 {
	font-size: 1rem;
	color: dimgrey;
	font-family: 'Muli', sans-serif;
}

/*pagina de post blog---------*/
 .archive-description{
	border: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
.archive-description::after {
	border-bottom: 1px dotted #aaa;
	content: "";
	display: block;
	margin: 0 auto 30px;
	padding-bottom: 10px;
	padding-top: 5px;
	width: 20rem;
}
@media (min-width: 25em) { /* 400px */
  .archive-description::after  {
    width: calc(20rem + (50 - 20) * (100vw - 25rem) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .archive-description::after  {
    width: 50rem;
  }
}
/*pagina de post resumidos----*/
.wp-show-posts-entry-header {
	background-color: #D7E8E8;
	height: 7rem;
	text-align: center;
	color: ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 4rem;
	padding-right: 4rem;

}
.wp-show-posts-entry-title a {
	color: #8B7642;
}
.wp-show-posts-entry-title a:focus,
.wp-show-posts-entry-title a:hover {
	color: #188DB1;
}
.wp-show-posts-inner {
	display: flex;
	flex-direction: column;
}
.wp-show-posts-inner .wpsp-read-more {
	color: #8B7642;
	background-color: #F6CECC;
	border: 4px solid #EBDFBF; 
	/*position: relative;
	left: 0;
	right: 0;
	margin: auto;*/
	/*margin-left: 10rem;*/
	align-self: center;
}
 .wpsp-read-more:focus,
 .wpsp-read-more:hover,
 .wp-show-posts-single a.wp-show-posts-read-more:focus,
 .wp-show-posts-single a.wp-show-posts-read-more:hover {
	background-color: #D7E8E8;
	color: #8B7642;
	border: 4px solid #EBDFBF; 
}
.wp-show-posts-single a.wp-show-posts-read-more:focus,
 .wp-show-posts-single a.wp-show-posts-read-more:hover {
 	outline: none;
 	border: none;
 }
.wp-show-posts-single a.wp-show-posts-read-more, 
.wp-show-posts-single a.wp-show-posts-read-more:visited {
	color: #8B7642;
	border: 2px solid transparent;
}
.wpsp-load-more {
	color: #8B7642;
	border: 4px solid #EBDFBF; 
	text-align: center;
	align-self: center;
	font-family: 'Quicksand', sans-serif;
}
/*caja del autor---------*/
.author-box {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 100px;
	padding: 40px 0;
}
/*pagination-------------*/
.pagination {
	margin: auto;
	text-align: center;
}
.archive-pagination li a {
	background-color: #F6CECC;
	border: 4px solid #EBDFBF;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	color: #8B7642;
	margin-bottom: 1rem;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 8px 12px;
	
}
.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #D7E8E8;
	color: #8B7642;
}
.archive-pagination li.active a {
	color: #8B7642;
}

/*Seleccion y color enlaces-----------*/
::-moz-selection {
	background-color: #D7E8E8;
	color: #696969;
}

::selection {
	background-color: #D7E8E8;
	color: #696969;
}

a {
	color: #696969;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #8B7642;
}
/*Media Queries---------------*/
@media only screen and (max-width: 860px) {

	.site-inner,
	.wrap {
		max-width: none;
		width: 94%;
	}
}

@media only screen and (max-width: 1072px) { /*CREADO POR MI*/
	.site-header>.wrap { 
		margin: auto;
		flex-wrap: wrap;
	}
	#menu-carochin-top-menu {
		text-align: center;
		padding-top: 1rem;
	}
	.site-header {
		padding: 0;
		padding-top: 0.5rem;
	}
	.header-image .site-title > a {
		background-position: center !important;
		margin: 0 auto 10px;
	}
}
.site-inner {
	margin-bottom: 2rem;
	margin-top: 1rem;
}
@media (min-width: 25em) { /* 400px */
  .site-inner {
    margin-bottom: calc(2rem + (3 - 2) * (100vw - 25rem) / (100 - 25));
 
  }
}
@media (min-width: 100em) { /* 1600px */
  .site-inner {
    margin-bottom: 3rem;
  
  }
}








